.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------
 * モーダル
 * --------------------------------
 */

.modal {
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.modal .modal-header {
  height: 30px;
  user-select: none;
}

.modal.is-primary .modal-header {
  background-color: green;
  color: white;
}
.modal.is-danger .modal-header {
  background-color: red;
  color: white;
}

.modal .modal-body {
  height: calc(100% -30px);
}

/* --------------------------------
 * ドラッグ
 * --------------------------------
 */

.js-draggable-handle {
  cursor: pointer;
}
